<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
    <link rel="stylesheet" href="css/paketWisata.css">
    <title>Wisata Pangandaran</title>
</head>
<body>
    <header>
            <div id="logo">
                <img src="gambar/logo-white.png" alt="logo-travel">
            </div>
            <nav>
                <ul type="none">
                    <li><a id="home" href="index.html">Home</a></li>
                    <li><a id="akomodasi" href="akomodasi.html">Akomodasi</a></li>
                    <li><a id="paket" href="paketWisata.html">Paket Wisata</a></li>
                </ul>
            </nav>
    </header>
    <main id="mn">

    </main>
    <footer>
        <div class="icon">
            <br>
            <a href="https://www.instagram.com/xsvshc/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/kurniawanpnd17" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://t.me/Kurniawan" target="_blank"><i class="fab fa-telegram"></i></a>
            <a href="https://facebook.com/kurniawan.wungkul.79/" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="mailto:kurniawanaja784@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
            <a href="https://wa.me/6285315730127" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>

        <div class="copyright">
            <br>
            © 2022
            <a href="index.html" class="footer-logo"><strong>Kurniawan</strong></a>
        </div>
    </footer>
</body>
<script src="javascript/paketWisata.js"></script>
</html>