<html>
    <head>
        <link rel="stylesheet" href="project.css">
    </head>

    <body>
        <header id="head">
            <img src="gambar/logo2.png" alt="">
        </header>
        <main id="main">
            <nav id="navigasi">
                <ul type="none">
                    <li><a class="menu" href="halamanawal.html">Branda</a></li>
                    <li><a class="menu" href="halamanutama.html">Daftar Booking</a></li>
                    <li><a class="menu" href="riwayat.html">Riwayat Booking</a></li>
                    <li><a class="menu" href="transaksi.html">Transaksi</a></li>
                </ul>
            </nav>
            <div id="tempat">
                <h2 id="wl">Akbar Super Soccer</h2>
                <p class="info">Alamat : Jl.Sukawera Blok.Masjid Ds.Sukawera Kec.Kertasmaya Kab.Indramayu</p><p class="info">Telp : 081572676015</p>

            </div>
            <div id="pembungkus">
                <div>
                    <img class="img" src="" alt="" id="lap1"><br>
                    <span class="harga">Harga : Rp.</span><span class="harga" id="text1"></span><br>
                    <span class="no_lap">Nomer Lapngan :</span><span id="nolap1"></span>
                </div>
                <div>
                    <img class="img" src="" alt="" id="lap2"><br>
                    <span class="harga">Harga : Rp.</span><span class="harga" id="text2"></span><br>
                    <span class="no_lap">Nomer Lapngan :</span><span  id="nolap2"></span>
                </div>
                <div>
                    <img class="img" src="" alt="" id="lap3"><br>
                    <span class="harga">Harga : Rp.</span><span class="harga" id="text3"></span><br>
                    <span class="no_lap">Nomer Lapngan :</span><span id="nolap3"></span>
                </div>
            </div>
        </main>
        <footer>
            <div id="line"></div>
            <br>
            <div id="copy">
                <p>Copyright © 2022 Akbar</p>
            </div>
        </footer>
    </body>
    <script src="lapngan.js"></script>
</html>