<html>
    <head>
        <link rel="stylesheet" href="project.css">
        <script src="https://kit.fontawesome.com/b61c7a3473.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header id="head">
            <img src="gambar/logo2.png" alt="">
        </header>
        <div>
            <button id="scrol"><i id="iconA" class="fa-solid fa-arrow-up"></i></button>
        </div>
        <main id="pmr">
            <nav id="navigasi">
                <ul type="none">
                    <li><a class="menu" href="halamanawal.html">Branda</a></li>
                    <li><a class="menu" href="halamanutama.html">Daftar Booking</a></li>
                    <li><a class="menu" href="riwayat.html">Riwayat Booking</a></li>
                    <li><a class="menu" href="transaksi.html">Transaksi</a></li>
                </ul>
            </nav>
            <div id="midr">
                <div id="cfr">
                    <input id="formr" type="text" placeholder="ID..."><button id="btnr">Search</button>
                </div>
                <table id="tabler">
                    <thead id="pheadr">
                        <th class="tableheadr">No.</th>
                        <th class="tableheadr">ID</th>
                        <th class="tablehead">Team</th>
                        <th class="tablehead">Handphone</th>
                        <th class="tablehead">Lapangan</th>
                        <th class="tablehead">Tanggal Main</th>
                        <th class="tablehead">Harga</th>
                        <th class="tablehead">Dp Status</th>
                    </thead>

                    <tbody id="tbodyr"></tbody>
                </table>
            </div>
        </main>
        <footer>
            <div id="line"></div>
            <br>
            <div id="copy">
                <p>Copyright © 2022 Akbar</p>
            </div>
        </footer>
    </body>
    <script src="riwayat.js"></script>
</html>