<html>
    <head>
        <link rel="stylesheet" href="project.css">
        <script src="https://kit.fontawesome.com/b61c7a3473.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header id="head">
            <img src="gambar/logo2.png" alt="">
        </header>
        <div>
            <button id="scrol"><i id="iconA" class="fa-solid fa-arrow-up"></i></button>
        </div>
        <main id="pmt">
            <nav id="navigasi">
                <ul type="none">
                    <li><a class="menu" href="halamanawal.html">Branda</a></li>
                    <li><a class="menu" href="halamanutama.html">Daftar Booking</a></li>
                    <li><a class="menu" href="riwayat.html">Riwayat Booking</a></li>
                    <li><a class="menu" href="transaksi.html">Transaksi</a></li>
                </ul>
            </nav>
            <div id="midt">
                <div id="cft">
                    <input id="formt" type="text" placeholder="ID..."><button id="btnt" onclick="Click()">Search</button>
                </div>
                <table id="tablet">
                    <thead id="pheadt">
                        <th class="tableheadt">No.</th>
                        <th class="tableheadt">ID</th>
                        <th class="tableheadt">No Lapangan</th>
                        <th class="tableheadt">Dp Status</th>
                        <th class="tableheadt">Tanggal Transaksi</th>
                    </thead>

                    <tbody id="tbodyt"></tbody>
                </table>
            </div>
        </main>
        <footer>
            <div id="line"></div>
            <br>
            <div id="copy">
                <p>Copyright © 2022 Akbar</p>
            </div>
        </footer>
    </body>
    <script src="transaksi.js"></script>
</html>